In [1]:
import pandas as pd
import numpy as np
import os
import requests
from urllib.parse import urlparse
from urllib.parse import quote # this is used to fix illegal characters in the titlenames.
from sqlalchemy import create_engine

In [2]:
# Resaved the metacritic_movies.csv to get rid of commas in the numbers.
# Created schema for movies_t. Imported data into table just to make sure it worked, then deleted the table, and recreated
# to be an empty table.

In [3]:
# load the movies data.
csv_file = "Metacritic Reviews/metacritic_movies.csv"
raw_movies_df = pd.read_csv(csv_file)
raw_movies_df.head()

,movie_title,release_date,genre,meta_mixed,meta_negative,meta_positive,metascore,user_mixed,user_negative,user_positive,userscore
0,Anatomy of a Murder,1-Jul-59,"Drama,Mystery,Thriller,Crime",0,0,15,95,0,0,3,tbd
1,Bringing Up Baby,18-Feb-38,"Comedy,Romance,Family",0,1,16,91,1,0,2,tbd
2,After Life,12-May-99,"Drama,Fantasy",0,0,19,91,0,2,1,tbd
3,Gavagai,3-Aug-18,Drama,1,0,6,91,0,1,2,tbd
4,The Hustler,25-Sep-61,"Drama,Sport",1,0,17,90,0,0,3,tbd

In [4]:
# Reviews data cleaning
# Previewed in Excel.
# Removed lines of invalid data that appears to have wrapped incorrectly.

# Need to fix text for the apostrophes that have been convered to â€™
# Did Find/Replace using text editor.
# 
# created file Cleaned_metacritic_reviews.csv

In [5]:
# Load the reviews data.
csv_file = "Metacritic Reviews/Cleaned_metacritic_reviews.csv"
raw_reviews_df = pd.read_csv(csv_file, dtype={3:'str',4:'str'})
raw_reviews_df.head()

,critic_name,media,movie_title,review_date,individual_meta_score,text
0,Robbie Collin,The Telegraph,Jojo Rabbit,7-Oct-19,20,As satire it's a dismal dereliction of duty; a...
1,Roger Moore,NaN,Carrie Pilby,7-Oct-19,38,Carrie Pilby never rises to the level of hatef...
2,NaN,Empire,Gemini Man,7-Oct-19,40,It gives you two Will Smiths for the price of ...
3,Noel Murray,Los Angeles Times,In the Tall Grass,7-Oct-19,50,Despite the handsome Craig Wrobleski cinematog...
4,Jesse Hassenger,The A.V. Club,The King,7-Oct-19,50,It's hard to feel energized by a historical ep...

In [6]:
## Cleanup complete

In [7]:
## Addy's section

# Need to create table of movie posters urls from TheMovieDB.org
#
# Choice 1: Lookup table
#    Movie name, poster url

# Choice 2: Append a new column for poster url to movies_df

In [8]:
#url = 'https://api.themoviedb.org/3/movie/550?api_key=3d48b9204ca053957eb4375bb97a83c8'

In [9]:
#keep
config_path = 'http://api.themoviedb.org/3/configuration?api_key={key}'
KEY = '3d48b9204ca053957eb4375bb97a83c8'
url = config_path.format(key=KEY)
r = requests.get(url)
config = r.json()
# config

In [10]:
#keep
base_url = config['images']['base_url']
base_url

'http://image.tmdb.org/t/p/'

In [11]:
# This is what happens if there's no poster.

temp = 'http://api.themoviedb.org/3/search/movie?query="Besotted"&api_key=3d48b9204ca053957eb4375bb97a83c8'
r = requests.get(temp)
response = r.json()
if response['results'][0]['poster_path'] is None:
    print('none')

none

In [12]:
# This is what happens if the movie title is not found.

temp = 'http://api.themoviedb.org/3/search/movie?query="dasgdsf"&api_key=3d48b9204ca053957eb4375bb97a83c8'
r = requests.get(temp)
response = r.json()
response['total_results']

0

In [13]:
# This is what happens if the movie title has # in it.

temp = 'http://api.themoviedb.org/3/search/movie?query="#Horror"&api_key=3d48b9204ca053957eb4375bb97a83c8'
r = requests.get(temp)
response = r.json()
response

{'status_code': 7,
 'status_message': 'Invalid API key: You must be granted a valid key.',
 'success': False}

In [14]:
# This is what happens if the movie title has # in it.

movieTitle=quote('#Horror')
temp = 'http://api.themoviedb.org/3/search/movie?query=' + movieTitle + '&api_key=3d48b9204ca053957eb4375bb97a83c8'
print(temp)
#r = requests.get(temp)
#response = r.json()
#response

http://api.themoviedb.org/3/search/movie?query=%23Horror&api_key=3d48b9204ca053957eb4375bb97a83c8

In [15]:
# not sure why this movie is one that has the values in the tuple swapped.

movieTitle=quote('No Home Movie')
temp = 'http://api.themoviedb.org/3/search/movie?query=' + movieTitle + '&api_key=3d48b9204ca053957eb4375bb97a83c8'
#print(temp)
r = requests.get(temp)
response = r.json()
response['results'][0]['poster_path']

'/eUL2USo8weZHhNMJuWwKtegJzhL.jpg'

In [16]:
# Reused
# base_url = 'http://image.tmdb.org/t/p/'
# size = 'w500'
# rel_path = '/mgwZvl0DwS1GIborSGlpTGomrJD.jpg'

In [17]:
base_url = 'http://image.tmdb.org/t/p/'
size = 'w500' # We're looking for 500px sized posters

In [18]:
url_list = []

# the following 2 lists aren't needed since we're just writing them to a file.
#movie_not_found_list = []
#poster_not_found_list = []

processed_count = len(raw_movies_df)
movies_not_found_count = 0
posters_not_found_count = 0
keyerrors_count = 0

keyerrors_f = open("keyerrors.txt", "w")
movies_not_found_f = open("movies_not_found.txt", "w")
posters_not_found_f = open("posters_not_found.txt", "w")
url_list_f = open("url_list.txt", "w")

print('-----------------------------')
print('Begin Data Retreival. Rows left.')
print('-----------------------------\n')
for title in raw_movies_df.movie_title:
    #print(title)
    temp = 'http://api.themoviedb.org/3/search/movie?query=' + quote(title) + '&api_key=3d48b9204ca053957eb4375bb97a83c8'
    #print(temp)
    try:
        r = requests.get(temp)
        response = r.json()
        
        if (response['total_results'] != 0) and (response['results'][0]['poster_path'] is not None):
            url = base_url + size + response['results'][0]['poster_path']
            url_list.append({title, url})
            url_list_f.write(title + "\t" + url + "\n") # make it Tab delimited instead.
        elif response['total_results'] == 0:
            #error_list.append(f'{title} not found. Skipping...')
            #movie_not_found_list.append(title)
            movies_not_found_f.write(title + '\n')
            movies_not_found_count += 1
        elif response['results'][0]['poster_path'] is None:
            #print(f'No poster found for {title}.')
            #poster_not_found_list.append(title)
            posters_not_found_f.write(title + '\n')
            posters_not_found_count += 1
        
        # Commmented out as this was printing out the complete list each time... 
        # print(url_list)
        
        #read json into a list
        #movie_url.append(response_json, [url])
        
        #Print a period every iteration so that we know this is still running
        processed_count -= 1
        if (processed_count % 25 == 0):
            print(processed_count, end = '') # print the number left on every count divisable by 25.
        print('.', end = '')
        
    except KeyError:
        print(f'\n ** keyerror with {title} ** \n')
        keyerrors_count += 1
        keyerrors_f.write(title + '\n')
    
# close the files.
url_list_f.close()
keyerrors_f.close()
movies_not_found_f.close()
posters_not_found_f.close()

print('\n\n-----------------------------')
print('Data Retrieval Complete')
print('-----------------------------')
print(f'Movies not found: {movies_not_found_count}')
print(f'Movies with no posters: {posters_not_found_count}')
print(f'Other errors: {keyerrors_count}\n')
print('See the files movies_not_found.txt, posters_not_found.txt, and keyerrors.txt for details.')

-----------------------------
Begin Data Retreival. Rows left.
-----------------------------

....................9100.........................9075.........................9050.........................9025.........................9000.........................8975.........................8950.........................8925.........................8900.........................8875.........................8850.........................8825.........................8800.........................8775.........................8750.........................8725.........................8700.........................8675.........................8650.........................8625.........................8600.........................8575.........................8550.........................8525.........................8500.........................8475.........................8450.........................8425.........................8400.........................8375.........................8350.........................8325.........................8300.........................8275.........................8250.........................8225.........................8200.........................8175.........................8150.........................8125.........................8100.........................8075.........................8050.........................8025.........................8000.........................7975.........................7950.........................7925.........................7900.........................7875.........................7850.........................7825.........................7800.........................7775.........................7750.........................7725.........................7700.........................7675.........................7650.........................7625.........................7600.........................7575.........................7550.........................7525.........................7500.........................7475.........................7450.........................7425.........................7400.........................7375.........................7350.........................7325.........................7300.........................7275.........................7250.........................7225.........................7200.........................7175.........................7150.........................7125.........................7100.........................7075.........................7050.........................7025.........................7000.........................6975.........................6950.........................6925.........................6900.........................6875.........................6850.........................6825.........................6800.........................6775.........................6750.........................6725.........................6700.........................6675.........................6650.........................6625.........................6600.........................6575.........................6550.........................6525.........................6500.........................6475.........................6450.........................6425.........................6400.........................6375.........................6350.........................6325.........................6300.........................6275.........................6250.........................6225.........................6200.........................6175.........................6150.........................6125.........................6100.........................6075.........................6050.........................6025.........................6000.........................5975.........................5950.........................5925.........................5900.........................5875.........................5850.........................5825.........................5800.........................5775.........................5750.........................5725.........................5700.........................5675.........................5650.........................5625.........................5600.........................5575.........................5550.........................5525.........................5500.........................5475.........................5450.........................5425.........................5400.........................5375.........................5350.........................5325.........................5300.........................5275.........................5250.........................5225.........................5200.........................5175.........................5150.........................5125.........................5100.........................5075.........................5050.........................5025.........................5000.........................4975.........................4950.........................4925.........................4900.........................4875.........................4850.........................4825.........................4800.........................4775.........................4750.........................4725.........................4700.........................4675.........................4650.........................4625.........................4600.........................4575.........................4550.........................4525.........................4500.........................4475.........................4450.........................4425.........................4400.........................4375.........................4350.........................4325.........................4300.........................4275.........................4250.........................4225.........................4200.........................4175.........................4150.........................4125.........................4100.........................4075.........................4050.........................4025.........................4000.........................3975.........................3950.........................3925.........................3900.........................3875.........................3850.........................3825.........................3800.........................3775.........................3750.........................3725.........................3700.........................3675.........................3650.........................3625.........................3600.........................3575.........................3550.........................3525.........................3500.........................3475.........................3450.........................3425.........................3400.........................3375.........................3350.........................3325.........................3300.........................3275.........................3250.........................3225.........................3200.........................3175.........................3150.........................3125.........................3100.........................3075.........................3050.........................3025.........................3000.........................2975.........................2950.........................2925.........................2900.........................2875.........................2850.........................2825.........................2800.........................2775.........................2750.........................2725.........................2700.........................2675.........................2650.........................2625.........................2600.........................2575.........................2550.........................2525.........................2500.........................2475.........................2450.........................2425.........................2400.........................2375.........................2350.........................2325.........................2300.........................2275.........................2250.........................2225.........................2200.........................2175.........................2150.........................2125.........................2100.........................2075....................

.....2050.........................2025.........................2000.........................1975.........................1950.........................1925.........................1900.........................1875.........................1850.........................1825.........................1800.........................1775.........................1750.........................1725.........................1700.........................1675.........................1650.........................1625.........................1600.........................1575.........................1550.........................1525.........................1500.........................1475.........................1450.........................1425.........................1400.........................1375.........................1350.........................1325.........................1300.........................1275.........................1250.........................1225.........................1200.........................1175.........................1150.........................1125.........................1100.........................1075.........................1050.........................1025.........................1000.........................975.........................950.........................925.........................900.........................875.........................850.........................825.........................800.........................775.........................750.........................725.........................700.........................675.........................650.........................625.........................600.........................575.........................550.........................525.........................500.........................475.........................450.........................425.........................400.........................375.........................350.........................325.........................300.........................275.........................250.........................225.........................200.........................175.........................150.........................125.........................100.........................75.........................50.........................25.........................0.

-----------------------------
Data Retrieval Complete
-----------------------------
Movies not found: 62
Movies with no posters: 316
Other errors: 0

See the files movies_not_found.txt, posters_not_found.txt, and keyerrors.txt for details.

In [19]:
# url_list

In [20]:
url_df = pd.DataFrame(url_list, columns = ['movie_title','poster_url'])
url_df.tail(5)

,movie_title,poster_url
8738,http://image.tmdb.org/t/p/w500/vIb9kzseUun3QGo...,Wild Reeds
8739,No Home Movie,http://image.tmdb.org/t/p/w500/eUL2USo8weZHhNM...
8740,http://image.tmdb.org/t/p/w500/yRMex0csH3oI05Y...,Solas
8741,http://image.tmdb.org/t/p/w500/43ffZhMCWQhzMne...,J.T. Leroy
8742,http://image.tmdb.org/t/p/w500/jcuEDKnM3uThdz7...,Donnybrook

In [21]:
# No clue why the title and url would get swapped like that!! :-/

In [22]:
# Do we still need to do this?

# result = pd.concat([movie_title_df, url_df],axis= , sort=True)

In [23]:
# reference
# for title in raw_movies_df.movie_title:
#     #print(title)
#     temp = 'http://api.themoviedb.org/3/search/movie?query="' + title + '"&api_key=3d48b9204ca053957eb4375bb97a83c8'
#     #print(temp)
#     r = requests.get(temp)
#     response = r.json()
#     url = base_url + size + response['results'][0]['poster_path']
#     print(url)

In [24]:
# let's see if we can pull up a movie poster.