In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
# Resaved the metacritic_movies.csv to get rid of commas in the numbers.
# Created schema for movies_t. Imported data into table just to make sure it worked, then deleted the table, and recreated
# to be an empty table.

In [3]:
# load the movies data.
csv_file = "Metacritic Reviews/new_metacritic_movies.csv"
raw_movies_df = pd.read_csv(csv_file)
raw_movies_df.head()

,movie_title,release_date,genre,meta_mixed,meta_negative,meta_positive,metascore,user_mixed,user_negative,user_positive,userscore
0,Anatomy of a Murder,1-Jul-59,"Drama,Mystery,Thriller,Crime",0,0,15,95,0,0,3,tbd
1,Bringing Up Baby,18-Feb-38,"Comedy,Romance,Family",0,1,16,91,1,0,2,tbd
2,After Life,12-May-99,"Drama,Fantasy",0,0,19,91,0,2,1,tbd
3,Gavagai,3-Aug-18,Drama,1,0,6,91,0,1,2,tbd
4,The Hustler,25-Sep-61,"Drama,Sport",1,0,17,90,0,0,3,tbd

In [4]:
# We're going to drop the user reviewed scores, and just stick with the professional critics' scores.

In [5]:
# Resaved the reviews csv to Tab delimited instead of comma delimited using Excel. 
# The file had entries for quotes from the critics that were complicated by both having quotations and commas.

In [9]:
# Load the reviews data.
csv_file = "Metacritic Reviews/metacritic_reviews.txt"
raw_reviews_df = pd.read_csv(csv_file, dtype={4:'str'}, delimiter='\t')
raw_reviews_df.head()

,critic_name,media,movie_title,review_date,individual_meta_score,text
0,Lou Lumenick,New York Post,Jolene,29-Oct-10,0,"So bad it's almost (but not quite) good, Dan I..."
1,J. Hoberman,Village Voice,The Nutcracker,23-Nov-10,0,The wildest thing about this movie is its fait...
2,Dana Stevens,Slate,The Nutcracker,29-Nov-10,0,This non-balletic adaptation by the Russian di...
3,Stephen Holden,The New York Times,Hemingway's Garden of Eden,9-Dec-10,0,"For all the cinematic crimes against him, ther..."
4,Peter Travers,Rolling Stone,The Tourist,10-Dec-10,0,"In a year of craptaculars, The Tourist deserve..."