In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
# Resaved the metacritic_movies.csv to get rid of commas in the numbers.
# Created schema for movies_t. Imported data into table just to make sure it worked, then deleted the table, and recreated
# to be an empty table.

In [14]:
# load the movies data.
csv_file = "Metacritic Reviews/new_metacritic_movies.csv"
raw_movies_df = pd.read_csv(csv_file)
raw_movies_df

,movie_title,release_date,genre,meta_mixed,meta_negative,meta_positive,metascore,user_mixed,user_negative,user_positive,userscore
0,Anatomy of a Murder,1-Jul-59,"Drama,Mystery,Thriller,Crime",0,0,15,95,0,0,3,tbd
1,Bringing Up Baby,18-Feb-38,"Comedy,Romance,Family",0,1,16,91,1,0,2,tbd
2,After Life,12-May-99,"Drama,Fantasy",0,0,19,91,0,2,1,tbd
3,Gavagai,3-Aug-18,Drama,1,0,6,91,0,1,2,tbd
4,The Hustler,25-Sep-61,"Drama,Sport",1,0,17,90,0,0,3,tbd
...,...,...,...,...,...,...,...,...,...,...,...
9116,It Happened One Night,22-Feb-34,"Comedy,Romance",0,0,16,87,0,0,19,8.2
9117,King Kong,7-Apr-33,"Adventure,Sci-Fi,Horror",1,0,11,90,1,0,28,8.8
9118,Frankenstein,21-Nov-31,"Sci-Fi,Drama,Horror",0,0,13,91,0,0,6,8.7
9119,City Lights,7-Mar-31,"Drama,Comedy,Romance",0,0,15,99,0,1,14,8.8
9120,All Quiet on the Western Front,24-Aug-30,"Drama,War",0,0,16,91,1,0,3,8.0

In [4]:
# We're going to drop the user reviewed scores, and just stick with the professional critics' scores.

In [5]:
# Resaved the reviews csv to Tab delimited instead of comma delimited using Excel. 
# The file had entries for quotes from the critics that were complicated by both having quotations and commas.

In [6]:
# Load the reviews data.
csv_file = "Metacritic Reviews/metacritic_reviews.txt"
raw_reviews_df = pd.read_csv(csv_file, dtype={4:'str'}, delimiter='\t')
raw_reviews_df.head()

,critic_name,media,movie_title,review_date,individual_meta_score,text
0,Lou Lumenick,New York Post,Jolene,29-Oct-10,0,"So bad it's almost (but not quite) good, Dan I..."
1,J. Hoberman,Village Voice,The Nutcracker,23-Nov-10,0,The wildest thing about this movie is its fait...
2,Dana Stevens,Slate,The Nutcracker,29-Nov-10,0,This non-balletic adaptation by the Russian di...
3,Stephen Holden,The New York Times,Hemingway's Garden of Eden,9-Dec-10,0,"For all the cinematic crimes against him, ther..."
4,Peter Travers,Rolling Stone,The Tourist,10-Dec-10,0,"In a year of craptaculars, The Tourist deserve..."

In [7]:
## Let's try this as the original CSV
csv_file = "Metacritic Reviews/metacritic_reviews.csv"
csv_reviews_df = pd.read_csv(csv_file)
csv_reviews_df.head()

,critic_name,media,movie_title,review_date,individual_meta_score,text
0,Lou Lumenick,New York Post,Jolene,29-Oct-10,0,"So bad it's almost (but not quite) good, Dan I..."
1,J. Hoberman,Village Voice,The Nutcracker,23-Nov-10,0,The wildest thing about this movie is its fait...
2,Dana Stevens,Slate,The Nutcracker,29-Nov-10,0,This non-balletic adaptation by the Russian di...
3,Stephen Holden,The New York Times,Hemingway's Garden of Eden,9-Dec-10,0,"For all the cinematic crimes against him, ther..."
4,Peter Travers,Rolling Stone,The Tourist,10-Dec-10,0,"In a year of craptaculars, The Tourist deserve..."

In [22]:
csv_reviews_df.loc[(csv_reviews_df['movie_title']=='Lucy in the Sky')].text

567       Itâ€™s around the halfway point when this film...
6281      Itâ€™s a dispiriting mess and waste of talent,...
6282      While itâ€™s based on the bizarre 2007 story o...
12019     What Hawley has delivered is a garden variety ...
12027     Noah Hawley treats his protagonistâ€™s story a...
12029     It is the story itself that never achieves lif...
12031     But throwing fairy dust in our eyes canâ€™t ma...
19089     Distractingly over-directed ... [Hawley] tripl...
24899     A wildly misbegotten mess, a goulash of incong...
24901     The film has spent so much time telegraphing i...
28501     Sorta-kinda based on the true story of astrona...
39263     Lucy in the Sky is the odd film that starts co...
39264     Lucy In The Sky has ambitious visual flourishe...
39285     Lucy in the Sky becomes a strange experience t...
39294     Itâ€™s always a downer when talented artists p...
49009     As narrow as the universe is wide, this dull, ...
50308     The movie focuses so intently on technical cra...
64627     Lucy In The Sky ends up playing like some unau...
64632     Portman is always consummately watchable, and ...
64640     The significant and seemingly random changes, ...
64641     Unfortunately, itâ€™s an anticlimactic conclus...
64642     Instead of being an intriguing look at an emot...
90762     Lucy in the Skyâ€™s attempt to sync cosmologic...
101857    Natalie Portman excels in Lucy in the Sky, an ...
101858    It is a witty, intriguing film in many ways .....
101905    I have to tip my cap to such a bold attempt to...
126176    Lucy in the Sky is an odd curio, a drama thatâ...
166209    Portmanâ€™s delicate and damaged portrayal is ...
Name: text, dtype: object

In [23]:
# Need to fix text for the apostrophes that have been convered to â€™

# Did Find/Replace using text editor.
# created file Cleaned_metacritic_reviews.csv

In [20]:
## Addy's section

# Need to create table of movie posters urls from TheMovieDB.org
#
# Choice 1: Lookup table
#    Movie name, poster url

# Choice 2: Append a new column for poster url to movies_df

In [ ]:
## write out all df's to postgresql

In [21]:
## test a movie lookup to search for a movie name, which should come back with:
#  movie name, all reviews for the movie, and movie poster url.