In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
# Resaved the metacritic_movies.csv to get rid of commas in the numbers.
# Created schema for movies_t. Imported data into table just to make sure it worked, then deleted the table, and recreated
# to be an empty table.

In [14]:
# load the movies data.
csv_file = "Metacritic Reviews/new_metacritic_movies.csv"
raw_movies_df = pd.read_csv(csv_file)
raw_movies_df

,movie_title,release_date,genre,meta_mixed,meta_negative,meta_positive,metascore,user_mixed,user_negative,user_positive,userscore
0,Anatomy of a Murder,1-Jul-59,"Drama,Mystery,Thriller,Crime",0,0,15,95,0,0,3,tbd
1,Bringing Up Baby,18-Feb-38,"Comedy,Romance,Family",0,1,16,91,1,0,2,tbd
2,After Life,12-May-99,"Drama,Fantasy",0,0,19,91,0,2,1,tbd
3,Gavagai,3-Aug-18,Drama,1,0,6,91,0,1,2,tbd
4,The Hustler,25-Sep-61,"Drama,Sport",1,0,17,90,0,0,3,tbd
...,...,...,...,...,...,...,...,...,...,...,...
9116,It Happened One Night,22-Feb-34,"Comedy,Romance",0,0,16,87,0,0,19,8.2
9117,King Kong,7-Apr-33,"Adventure,Sci-Fi,Horror",1,0,11,90,1,0,28,8.8
9118,Frankenstein,21-Nov-31,"Sci-Fi,Drama,Horror",0,0,13,91,0,0,6,8.7
9119,City Lights,7-Mar-31,"Drama,Comedy,Romance",0,0,15,99,0,1,14,8.8
9120,All Quiet on the Western Front,24-Aug-30,"Drama,War",0,0,16,91,1,0,3,8.0

In [25]:
# Reviews data cleaning

# Previewed in Excel.
# Removed lines of invalid data that appears to have wrapped incorrectly.

# Need to fix text for the apostrophes that have been convered to Ã¢â‚¬â„¢
# Did Find/Replace using text editor.
# 
# created file Cleaned_metacritic_reviews.csv

In [34]:
# Load the reviews data.
csv_file = "Metacritic Reviews/Cleaned_metacritic_reviews.csv"
raw_reviews_df = pd.read_csv(csv_file, dtype={3:'str',4:'str'})
raw_reviews_df.head()

,critic_name,media,movie_title,review_date,individual_meta_score,text
0,Robbie Collin,The Telegraph,Jojo Rabbit,7-Oct-19,20,As satire it's a dismal dereliction of duty; a...
1,Roger Moore,NaN,Carrie Pilby,7-Oct-19,38,Carrie Pilby never rises to the level of hatef...
2,NaN,Empire,Gemini Man,7-Oct-19,40,It gives you two Will Smiths for the price of ...
3,Noel Murray,Los Angeles Times,In the Tall Grass,7-Oct-19,50,Despite the handsome Craig Wrobleski cinematog...
4,Jesse Hassenger,The A.V. Club,The King,7-Oct-19,50,It's hard to feel energized by a historical ep...

In [36]:
raw_reviews_df.loc[(raw_reviews_df['movie_title']=='Lucy in the Sky')].text

11     The film has spent so much time telegraphing i...
20     But throwing fairy dust in our eyes can't make...
23     It's always a downer when talented artists pou...
41     It's around the halfway point when this film's...
42     It's a dispiriting mess and waste of talent, s...
43     While it's based on the bizarre 2007 story of ...
45     It is the story itself that never achieves lif...
49     Sorta-kinda based on the true story of astrona...
50     Lucy in the Sky becomes a strange experience t...
58     The movie focuses so intently on technical cra...
61     The significant and seemingly random changes, ...
62     Unfortunately, it's an anticlimactic conclusio...
63     Instead of being an intriguing look at an emot...
77     I have to tip my cap to such a bold attempt to...
87     Lucy in the Sky is an odd curio, a drama that'...
100    Portman's delicate and damaged portrayal is me...
137    Portman is always consummately watchable, and ...
143    Lucy in the Sky's attempt to sync cosmological...
159    Noah Hawley treats his protagonist's story as ...
162    Lucy In The Sky ends up playing like some unau...
485    What Hawley has delivered is a garden variety ...
606    Distractingly over-directed ... [Hawley] tripl...
608    A wildly misbegotten mess, a goulash of incong...
613    Lucy in the Sky is the odd film that starts co...
614    Lucy In The Sky has ambitious visual flourishe...
619    As narrow as the universe is wide, this dull, ...
638    Natalie Portman excels in Lucy in the Sky, an ...
639    It is a witty, intriguing film in many ways .....
Name: text, dtype: object

In [ ]:
## Cleanup complete

In [20]:
## Addy's section

# Need to create table of movie posters urls from TheMovieDB.org
#
# Choice 1: Lookup table
#    Movie name, poster url

# Choice 2: Append a new column for poster url to movies_df

In [ ]:
## write out all df's to postgresql

In [21]:
## test a movie lookup to search for a movie name, which should come back with:
#  movie name, all reviews for the movie, and movie poster url.